<h1>Stocks#search</h1>
<p>Find me in app/views/stocks/search.html.erb</p>

<% if @stocks.present? %>
  <% @stocks.each do |stock| %>
    <%= link_to "#{stock.code} #{stock.name}", stock_path(stock.id) %>
    <br>
  <% end %>
<% else %>
  <div>検索結果はありません。</div>
<% end %>
